{{ form_start(form) }}
 <div class="row">
    <div class="col-sm-6">
    {{ form_widget(form) }}
    </div>
    <div>
    <hr>
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
